.container {
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    max-width:900px;
    margin: auto;
    background-color: rgb(255, 217, 0);
}

@media all and (max-width: 1090px) { 
    .container {
        max-width: 900px;
    }
    
}